body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    touch-action: none;
}

span {
    font-size: 2rem;
    position: absolute;
    user-select: none;
}

span:not([data-keep-alive]) {
    animation: 5s ease self-destruct;
}


@keyframes self-destruct {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}